@model PubDBApplication.Models.OrdersView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrdersView</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warehouse_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warehouse_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pub_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pub_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producer_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producer_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Incoming_Outcoming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incoming_Outcoming)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>
    </dl>

    <table class="table">
        <tr>
            <th>
                id
            </th>
            <th>
                quantity
            </th>
            <th>
                product
            </th>
            <th>
                partial_price
            </th>

            <th></th>
        </tr>

        @foreach (var item in ViewBag.odView)
        {
        <tr>
            <td>
                @item.id
            </td>

            <td>
                @item.quantity
            </td>

            <td>
                @item.product_name
            </td>

            <td>
                @item.partial_price
            </td>

            <td />
        </tr>
        }

    </table>
    <h3> TOTAL PRICE: @Html.DisplayFor(model => model.total)</h3>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
