@model PubDBApplication.Models.OrdersView

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            Warehouse Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warehouse_name)
        </dd>

        @if (Model.Incoming_Outcoming.Equals("Incoming"))
        {
            <dt>
                Pub Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pub_name)
            </dd>
        }

        @if (Model.Incoming_Outcoming.Equals("Outcoming"))
        {
            <dt>
                Producer Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.producer_name)
            </dd>
        }

        <dt>
            Incoming/Outcoming
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Incoming_Outcoming)
        </dd>

        <dt>
            Order Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>

    @if (Model.status.Equals("In Creation"))
    {
        <h4>This order is in the creation phase.</h4>
        <p>
            @Html.ActionLink("Add product to order", "CreateForProduct", "OrderDetailsViews", new { id = Model.id }, null),
            @Html.ActionLink("Submit order", "Submit", new { id = Model.id }) or
            @Html.ActionLink("Cancel order", "Delete", new { id = Model.id })
        </p>
    }

    @if (Model.status.Equals("In Realization"))
    {
        <h4>This order is in the realization phase.</h4>
        @Html.ActionLink("Send order", "Index", new { id = Model.id })
        <font>or</font>
        @Html.ActionLink("Cancel order", "Delete", new { id = Model.id })
    }

    @if (Model.status.Equals("Completed"))
    {
        <h4>This order is completed.</h4>
        <p>
        </p>
    }



    <table class="table">
        <tr>
            <th>
                ID
            </th>

            <th>
                Product
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>

            <th>
                Amount
            </th>

            <th></th>
        </tr>

        @foreach (var item in ViewBag.odView)
        {
            <tr>
                <td>
                    @item.id
                </td>

                <td>
                    @item.product_name
                </td>

                <td>
                    @item.price.ToString("0.00")
                </td>
                <td>
                    @item.quantity
                </td>
                <td>
                    @item.amount.ToString("0.00")
                </td>
                <td>
                    @if (Model.status.Equals("In Creation"))
                    {
                        @Html.ActionLink("Delete", "Delete", "OrderDetailsViews", new { id = item.id }, null)
                    }
                </td>
            </tr>
        }

    </table>
    <h3> <b> TOTAL PRICE: @Html.DisplayFor(model => model.total) </b></h3>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
