@model IEnumerable<PubDBApplication.Models.OrdersView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New Order", "Create")
</p>
<table class="table">
    <tr><td colspan="8"><h4><b>Warehouse Incoming Orders</b></h4></td></tr>
    <tr>
        <th>
            Warehouse Name
        </th>
        <th>
            Pub Name
        </th>
        <th>
            Producer Name
        </th>
        <th>
            Incoming/Outcoming
        </th>
        <th>
            Order Status
        </th>
        <th>
            Date
        </th>
        <th>
            Total Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(m => m.Incoming_Outcoming.Equals("Incoming")))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.warehouse_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pub_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Incoming_Outcoming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Cancel", "Delete", new { id = item.id })
            </td>
        </tr>
    }
    <tr><td colspan="8"></td></tr>
    <tr><td colspan="8"><h4><b>Warehouse Outcoming Orders</b></h4></td></tr>
    <tr>
        <th>
            Warehouse Name
        </th>
        <th>
            Pub Name
        </th>
        <th>
            Producer Name
        </th>
        <th>
            Incoming/Outcoming
        </th>
        <th>
            Order Status
        </th>
        <th>
            Date
        </th>
        <th>
            Total Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Where(m => m.Incoming_Outcoming.Equals("Outcoming")))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.warehouse_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pub_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Incoming_Outcoming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Cancel", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
