@model PubDBApplication.Models.Warehouses

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Warehouses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            Warehouse Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            ID
        </th>

        <th>
            Product Name
        </th>

        <th>
            Quantity
        </th>
    </tr>

    @foreach (var item in ViewBag.warehouseStock)
    {
        <tr>
            <td>
                @item.id
            </td>
            <td>
                @item.product_name
            </td>
            <td>
                @item.quantity
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
