@model PubDBApplication.Models.Pubs

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pubs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            Pub Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            E-Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.e_mail)
        </dd>


        <dt>
            E-Mail
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone_no)
        </dd>


        <dt>
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.street)
            @Html.DisplayFor(model => model.Address.building_no),
            @Html.DisplayFor(model => model.Address.postal_code)
            @Html.DisplayFor(model => model.Address.city)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
